@layer base, typography, utilities;

@layer base {
  body,
  html {
    padding: 0px;
    margin: 0px;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    line-height: 1.8;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .container-narrow {
    max-width: 730px;
    margin-inline: auto;
    padding-inline: 12px;
  }

  .post-preview {
    margin-bottom: 24px;
  }
  .post-preview .heading {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-block-end: 0px;
    color: inherit;
    text-decoration: none;
  }
  .post-preview .heading:hover {
    text-decoration: underline;
  }

  .post-preview .summary {
    margin-block: 0px;
    font-size: 16px;
    opacity: 0.6;
    margin-block: 8px;
  }

  .post-preview .row {
    justify-content: space-between;
    align-items:center;
    font-size: 16px;
  }
  .post-preview .tag-list {
    list-style: none;
    padding-inline-start: 0px;
    color: red;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block: 0px;
  }
  .post-preview .tag-list li:not(:first-child)::before{
    content: "⋅";
    padding-inline: 2px;
  }
  .post-preview .publishing-date {
    opacity: 0.4;
  }
  .post-metadata {
    margin-block-end: 0px;
    opacity: 0.48;
    font-size: 12px;
  }
}

@layer utilities {
  .pt-8 {
    padding-block-start: 8rem;
  }
  .pt-4 {
    padding-block-start: 4rem;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .mb-4 {
    margin-block-end: 4rem;
  }
  .mb-2 {
    margin-block-end: 2rem;
  }
  .mt-4 {
    padding-block-start: 4rem;
  }

  .text-center {
    text-align: center;
  }
}

@layer typography {
  .prose h1 {
    margin-block-start: 0px;
    font-size: 32px;
  }
}