{{ define "main" }}
<main class="container-narrow pt-4">
    <section>
        {{ .Content }}
    </section>

    <h1>Blog</h1>
    <section role="feed pt-4">
        {{ range ( where .Site.RegularPages "Type" "blog" ) }}

        <article class="post-preview" aria-setsize="-1">
            <a class="heading" href="{{.Page.Permalink}}">{{ .Title }}</a>
            <p class="summary">{{ .Params.description }}</p>
            <div class="row">
                {{ if isset .Params "tags"}}
                    <ul class="tag-list">
                        {{ range $name := .Params.tags}}
                        <li>{{$name | markdownify}}</li>
                        {{end}}
                    </ul>
                {{end}}

                <span class="publishing-date">
                    <time datetime="{{ .Params.date }}">{{ .Params.date.Format "2. January 2006" }}</time>
                </span>
            </div>

        </article>
        {{ end }}
    </section>
</main>
{{ end }}